{% extends "base.html" %}

{% block title %}Explore Page{% endblock %}

{% block content %}
    <section class="recommendation-section">
        <h2>EXPLORE AND SEE WHAT YOU LIKE!</h2>

        <h4 >POPULAR MOVIES</h4>
        <BR>
        <div class="item-selection"> 
            {% for movie in movies %}
                <div class="item-box">
                    <a href="{{ url_for('movie_reviews', movie_id=movie['id']) }}">
                        <img src="{{ movie['poster_url'] }}" alt="{{ movie['title'] }}" style="width:130px;">
                    </a>
                    <p>{{ movie['title'] }}</p>
                </div>
            {% endfor %}
        </div>
        <h4>POPULAR TV SHOWS</h4>
        <br>
        <div class="item-selection"> 
            {% for tv in tvs %}
                <div class="item-box">
                    <a href="{{ url_for('tv_reviews', tv_id=tv['id']) }}">
                        <img src="{{ tv['poster_url'] }}" alt="{{ tv['name'] }}" style="width:130px;">
                    </a>
                    <p>{{ tv['name'] }}</p>
            </div>
            {% endfor %}
        </div>                   
    </section> 
{% endblock %}